/*global*/
body{
    font-family: Trebuchet;
    background-color: rgb(30, 29, 29);
    color: white;
}
h1,h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: deeppink;
    text-shadow: 10px;
    color: blueviolet;
}
/*main*/
p{
    text-align: justify;
    line-height: 2;
}
h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: aquamarine;
}
p{
    font-size: 22px;
    color: whitesmoke
}